.App {
  /* font-size: calc(10px + 2vmin); */
  text-align: center;
  /* font-family: "Comic Sans MS", cursive, sans-serif; */
  font-family: "Copperplate", "Papyrus";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(56, 53, 53);
  background-image: url(images/tablebg.jpg);

  /* height: 100vh; */
  background-size: cover;
  /* position: absolute; */
  color: white;

  height: 1000px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 5px;
  color: #fbca17;
}

.App-header {
  background-color: #fbca17;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
}

.App-link {
  color: #61dafb;
}

.appWrap {
  border: 3px solid transparent;
  border-radius: 10px;
  width: 30em;
  background-color: white;
  /* background-color: rgb(250, 249, 249); */
  /* position: absolute; */
  /* z-index: -1; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* new owner input component */
.owner-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid purple;
  text-align: center;
  background-color: transparent;
}

input[type="password"] {
  border: none;
  border-bottom: 1px solid purple;
  text-align: center;
  background-color: transparent;
}

/* General tags */

a {
  /* color: #3114b4; */
  color: red;
  text-decoration: none;
  font-size: 24px;
}

a:hover {
  text-decoration: underline;
  color: red;
}

.add_notes {
  color: red;
  padding: 40px;
}

button {
  border-radius: 12px;
  background-color: #3114b4;
  color: #fbca17;
  padding: 5px;
}

button.addNote {
  padding: 5px;
  text-align: center;
}

button.allRatings {
  border-radius: 12px;
  background-color: #3114b4;
  color: #fbca17;
  padding: 0;
}

button#deleteAccount {
  background-color: red;
  color: white;
}

button.main-page {
  margin: 0;
  position: absolute;
  left: 47%;
  bottom: 50%;
}

div.profileInfo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* div.profileInfo section{
  align-content: center;
} */

div.ratingValues {
  float: right;
}

.edit-menu {
  padding: 10px;
}

.edit-schedule {
  padding: 10px;
}

.edit-truck {
  padding: 10px;
}

form.newTruck {
  text-align: left;
}

.full-menu {
  overflow: auto;
  padding: 40px;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.19);
}

.full-menu li {
  float: left;
  padding: 50px;
  box-shadow: 0 8px 10px 0 rgba(126, 12, 12, 0.19);
  transition: transform 0.2s;
}

.full-menu li:hover {
  transform: scale(1.5);
  background-color: #fbca17;
}

h1,
h2 {
  color: #3114b4;
}

h3 {
  color: #fbca17;
}

h6 {
  color: #3114b4;
}

input {
  margin: 10px;
  display: inline-block;
}

input[type="submit"] {
  color: #fbca17;
  background-color: #3114b4;
}

input#state {
  width: 2%;
}

li {
  list-style-type: none;
  color: #3114b4;
}

.main {
  /* background-color: #f6edcc; */
  min-height: 50vh;
  /* padding: 100px; */
}

.menu_info {
  color: #3114b4;
}

.menu-input {
  padding: 10px;
  font-size: 18px;
  color: #3114b4;
}

.notes {
  background-color: #f6edcc;
  padding: 10px;
}

.owner-login {
  color: #3114b4;
  font-weight: bold;
}

.profile {
  padding: 10px;
}

.rating-container {
  padding: 10px;
}

.rating-form {
  color: #3114b4;
  font-weight: bold;
  margin: 10px;
}

.rating-form select {
  color: red;
  margin: 10px;
}

.ratings {
  color: red;
  padding: 40px;
  font-weight: bold;
  font-size: 18px;
}

.schedule_info {
  color: #fbca17;
  font-weight: bold;
  font-size: 18px;
  padding: 20px;
  height: 50%;
  width: 35%;
}

.schedule-input {
  padding: 10px;
  font-size: 18px;
  color: #3114b4;
}

.search {
  padding: 20px;
  color: #3114b4;
  font-weight: bold;
  font-size: 18px;
}

section.add_notes {
  text-align: center;
  /* padding: 20px; */
}

.truck {
  float: left;
  padding: 40px;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.2s;
}

.truck:hover {
  transform: scale(1.5);
  background-color: #fbca17;
}

.truck-container {
  background-color: #f6edcc;
  padding: 10px;
  min-height: 100vh;
  flex-direction: row;
}

.truck-details {
  color: #fc7307;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}

.truck_info {
  color: red;
  font-size: 20px;
  padding: 20px;
}

.truck-input {
  padding: 10px;
  color: #3114b4;
}

.trucks {
  background-color: #f6edcc;
  display: inline-block;
  /* left: 100px; */
  padding: 10px;
  color: #4712a2;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/* ul.note{
 border: 2px solid rgba(49, 10, 192, 0.452);
 border-spacing: 10px;
 margin: 0;
} */

ul.ratingValues li {
  float: left;
  padding: 15px;
  border: 2px solid rgb(243, 247, 5);
  border-radius: 50px 20px;
  background-color: white;
}

/* .home_edit_menu {
   position: absolute;
   left: 690px;
   top: 1450px;
 } */
