.App {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #FBCA17;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* General tags */

a {
  color:  #3114B4;
  text-decoration: none;
  font-size: 24px;
}

a:hover {
  text-decoration: underline;
  color: red;
}

.add_notes { 
  color: red ; 
  padding: 40px; 
 } 

button {
  border-radius: 12px;
  background-color: #3114B4;
  color: #FBCA17;
  padding: 5px;
}

button.addNote{
  height: 20px;
  padding: 10px;
  text-align: center;
}

button.allRatings {
    border-radius: 12px;
    background-color: #3114B4;
    color: #FBCA17;
    padding: 0;
}

button#deleteAccount {
  background-color: red;
  color: white;
}

button.main-page {
  margin: 0;
  position: absolute;
  left: 47%;
  bottom: 50%;
}

div.profileInfo{
  display: flex;
}

div.profileInfo section{
  align-content: space-between;
}

div.ratingValues {
  float: right;
}

.edit-menu {
  padding: 10px;
}

.edit-schedule {
  padding: 10px;
}

.edit-truck{
  padding:10px;
}

form.newTruck{
  text-align: left;
}

.full-menu {
  overflow: auto;
  padding: 40px;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.19);
}

.full-menu li {
  float: left;
  padding: 50px;
  box-shadow: 0 8px 10px 0 rgba(126, 12, 12, 0.19);
  transition: transform .2s;
}

.full-menu li:hover {
  transform: scale(1.5);
  background-color: #FBCA17;
 }

h1, h2 {
  color: #3114B4;
}

h3 {
  color: #FBCA17;
}

h6 {
  color: #3114B4;
}

input {
  margin: 10px;
  display: inline-block;
}

input[type=submit] {
  color: #FBCA17;
  background-color: #3114B4;
}

input#state {
  width: 2%;
}

li {
  list-style-type: none;
  color: #3114B4;
}

.main {
  background-color: #F6EDCC;
  min-height: 50vh;
  /* padding: 100px; */
}

.menu_info {
  color:  #3114B4;
}

.menu-input {
  padding: 10px;
  font-size: 18px;
  color: #3114B4;
 }

.new-owner {
  background-color: #F6EDCC;
  color: #3114B4;
  font-weight: bold;
  padding: 20px;
}

.notes {
  background-color: #F6EDCC;
  padding: 10px;
 }

.owner-login {
  color: #3114B4;
  font-weight: bold;
}


.profile{
  padding:10px;
}

.rating-container {
  padding: 10px;
}

 .rating-form {
  color: #3114B4;
  font-weight: bold;
  margin: 10px;
}

.rating-form select {
  color: red;
  margin: 10px;
}

.ratings { 
  color: red ; 
  padding: 40px; 
  font-weight: bold;
  font-size: 18px;
 } 

.schedule_info {
  color:  #FBCA17;
  font-weight: bold;
  font-size: 18px;
}

.schedule-input {
  padding: 10px;
  font-size: 18px;
  color: #3114B4;
}

.search {
  padding: 20px;
  color:  #3114B4;
  font-weight: bold;
  font-size: 18px;
}

section.add_notes{
  text-align: center;
}

.truck {
  float: left;
  padding: 40px;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.19);
  transition: transform .2s;
}

.truck:hover {
  transform: scale(1.5);
  background-color: #FBCA17;
}

.truck-container {
  background-color: #F6EDCC;
  padding: 10px;
  min-height: 100vh;
  flex-direction: row;
}

.truck-details {
  color: #FC7307;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}


.truck_info{
  color: red;
  font-size: 20px;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.19);
}

.truck-input {
  padding: 10px;
  color: #3114B4;
}

.trucks {
  background-color: #F6EDCC;
  display: inline-block;
  /* left: 100px; */
  padding: 10px;
  color: #4712A2;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
 }

/* ul.note{
 border: 2px solid rgba(49, 10, 192, 0.452);
 border-spacing: 10px;
 margin: 0;
} */

ul.ratingValues li{
  float: left;
  padding: 15px;
  border: 2px solid rgb(243, 247, 5);
  border-radius: 50px 20px;
  background-color: white;
}











 










 /* .home_edit_menu {
   position: absolute;
   left: 690px;
   top: 1450px;
 } */










